<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <title>Ninja Info</title>
</head>

<body>
    <h2>Cool Ninja Facts </h2>
    <ol>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Odio consectetur, magni. Nulla, necessitatibus.</li>
        <li>Quibusdam numquam eligendi voluptate, quod.</li>
        <li>Perferendis vero deserunt, quas aspernatur.</li>
        <li>Perspiciatis modi veritatis, tempore voluptatem!</li>
        <li>Amet est temporibus accusamus corporis!</li>
        <li>Sapiente, aliquam. Similique, fuga quasi?</li>
        <li>Inventore dolorem enim, voluptatibus vitae.</li>
        <li>Tempora qui veritatis officia voluptatum.</li>
        <li>Veritatis nulla sequi iusto tempora.</li>
    </ol>

</body>

</html>
