<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"> {% load staticfiles %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'ninja_gold_game/css/style.css' %}" media="screen" title="no title" charset="utf-8">
    <title>Ninja Gold</title>
</head>

<body>
    <main id="container">{% block content %}{% endblock %}</main>

</body>

</html>
