<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Registration</title>
</head>

<body>
    <form action="/register/" method="POST">
        {% csrf_token %}
        <h2>Register Here</h2>
        <input type="text" name="f_name" id="first_name"><br>
        <input type="text" name="last_name" id="last_name"><br>
        <input type="text" name="email" id="email"><br>
        <input type="text" name="password" id="password"><br>
        <input type="text" name="c_password" id="c_password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
